body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.hide { display: none; }

#content {
  position: relative;
}

#content canvas {
  position: absolute;
  border: 1px solid red;
}

#content > #canvas {
  z-index: 100;
}
